<h1>Submit an Article</h1>

<h2>Just some changes to save</h2>
<form action="/articles" method="POST" >
<p>Title: <input type="text" name="title"></p>
<p>Content: <input type="text" name="content"></p>
<input type="submit">
</form>
